version: 2.1

defaults: &defaults
    working_directory: ~/repo
    docker:
        - image: circleci/node:12.9.1-stretch-browsers

restore_cache_dependencies: &restore_cache_dependencies
    restore_cache:
        keys:
            - v1-dependencies-{{ checksum "yarn.lock" }}
            - v1-dependencies-

jobs:
    build_and_test:
        <<: *defaults

        steps:
            - checkout
            - *restore_cache_dependencies
            - run: yarn install
            - save_cache:
                  paths:
                      - node_modules
                  key: v1-dependencies-{{ checksum "yarn.lock" }}

            - run: yarn build
            - run: yarn lint
            - run:
                  name: run test
                  command: |
                      if [ -n "$COVERALLS_REPO_TOKEN" ]; then
                          yarn test --runInBand --ci --coverage && cat ./.jest-coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
                      else
                          yarn test --runInBand --ci --coverage
                      fi

            - run: yarn cypress install
            - run:
                  command: yarn dev
                  background: true
            - run: yarn wait-on-local-server
            - run: yarn cypress:run

            - store_test_results:
                  path: .jest-coverage

            - store_artifacts:
                  path: .jest-coverage

            - store_artifacts:
                  path: cypress/screenshots

    deploy_firebase:
        <<: *defaults

        steps:
            - checkout
            - *restore_cache_dependencies
            - run: yarn install
            - run:
                  name: Create .env file
                  command: |
                      touch .env;
                      echo STORYBOOK_API_KEY=$STORYBOOK_API_KEY >> .env;
                      echo STORYBOOK_AUTH_DOMAIN=$STORYBOOK_AUTH_DOMAIN >> .env;
                      echo STORYBOOK_DATABASE_URL=$STORYBOOK_DATABASE_URL >> .env;
                      echo STORYBOOK_PROJECT_ID=$STORYBOOK_PROJECT_ID >> .env;
                      echo STORYBOOK_STORAGE_BUCKET=$STORYBOOK_STORAGE_BUCKET >> .env;
                      echo STORYBOOK_MESSAGING_SENDER_ID=$STORYBOOK_MESSAGING_SENDER_ID >> .env;
                      echo STORYBOOK_APP_ID=$STORYBOOK_APP_ID >> .env;

            - run: yarn deploy --token=$FIREBASE_TOKEN

    publish_canary:
        <<: *defaults

        steps:
            - checkout
            - *restore_cache_dependencies
            - run: yarn install
            - run:
                  name: Auth with registry
                  command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/repo/.npmrc
            - run: yarn publish-packages --canary --preid canary --yes

workflows:
    version: 2
    build_and_test:
        jobs:
            - build_and_test
            - deploy_firebase:
                  requires:
                      - build_and_test
                  filters:
                      branches:
                          only: master
            - publish_canary:
                  requires:
                      - build_and_test
                  filters:
                      branches:
                          only: master
